body {
  font-family: 'Roboto Mono', monospace;
  min-height: 400px;
  background-image: url('https://cdn.pixabay.com/photo/2017/10/28/15/09/star-wars-2897280_1280.jpg');
  background-color: #000000;
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.container {
  height: 80vh;
  width: 100vw;
  padding: 30px;
  padding-top: 10%;
  background-color: rgba(8, 8, 8, 0.5);
  text-align: center;
}

.page-title {
  padding: 10px;
  display: inline-block;
  color: white;
  font-weight: bold;
  margin: 0 0 5px;
  display: inline-block;
}

.page-subtitle {
  padding: 5px;
  color: white;
  margin-top: 5px;
}

.page-logo {
  width: 200px;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right:10px;
}

#calc {
  color: white;
  font-size: 20px;
}

#convertButton {
  color: white;
  background-color: rgb(24, 20, 20);
  padding: 5px;
  font-size: 15px;
}